<!DOCTYPE html>
<html>
  <body style="font-family: Arial, sans-serif; background-color: #f8f8f8; padding: 20px;">
    <div style="max-width: 600px; margin: auto; background: white; padding: 20px; border-radius: 8px;">
      <h2 style="color: #fbb344;">Bienvenue sur Jungle </h2>
      <p>Bonjour,</p>
      <p>Votre boutique <strong>{{storeName}}</strong> a été créée avec succès </p>

      <p>Pour accéder à votre tableau de bord, veuillez saisir le code de vérification ci-dessous :</p>

      <div style="text-align: center; margin: 20px 0;">
        <h1 style="letter-spacing: 4px; color: #333;">{{verificationCode}}</h1>
      </div>

      <p>Ce code est personnel et expirera bientôt, veuillez l'utiliser dès maintenant.</p>

      <p>À très vite,<br>L’équipe Jungle </p>
    </div>
  </body>
</html>
